# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

*.swp
*python2.7.core

# PyCharm stuff
*.idea

# Mac stuff
*DS_Store

# Distribution / packaging
*.egg-info/
*.egg

# Unit test / coverage reports
.coverage
.cache
*.un~

# ignore built docs
docs/build
